<%- include('./layout/head')%>
    <%- include('./layout/navbar')%>

        <body>
            <header class="header">
                <div class="layout-container">
                    <h1>Saved Events </h1>

                </div>
            </header>
            <section id='home-events'>
                <div class="layout-container">
                    <div class="w3-content w3-section">
                        <% eventResults.forEach(event=> { %>
                            <article>
                                <img src="<%= event.image_url %>" alt="">
                                <figcaption>
                                    <h3> <span>Artist: </span>
                                        <%= event.artistname %>
                                    </h3>
                                    <h5><span>status:</span>
                                        <%= event.status %>
                                    </h5>
                                    <h5><span>Place:</span>
                                        <%= event.name %>
                                    </h5>
                                    <h5><span>location:</span>
                                        <%= event.country +`, ` + event.city +`, `+ event.region %>
                                    </h5>
                                    <h5><span>datetime:</span>
                                        <%= event.date %>
                                    </h5>
                                    <h5> <span>On sale datetime:</span>
                                        <%= event.saledate %>
                                    </h5>
                                    <h5> <span>Description:</span>
                                        <%= event.description %>
                                    </h5>
                                    <h5> <span>Facebook Profile:</span>: <a href="<%= event.facebook_page_url %>">Visit
                                            Facebook</a>
                                    </h5>

                                    <div class="events-flex">
                                        <form action="<%= event.event_url %>">
                                            <input class="home-event-button" type="submit" value="Book Your Ticket " />
                                        </form>

                                        <form action="/deleteDataEvent/<%= event.id %>?_method=Delete" method="post"
                                            id="myForm">
                                            <button class="home-event-button" id="saveforLater"
                                                type="submit">Delete</button>

                                            <input type="hidden" name="offers" value="<%= event.offers %>" hidden>
                                            <input type="hidden" name="status" value="<%= event.status %>" hidden>
                                            <input type="hidden" name="country" value="<%= event.country %>" hidden>
                                            <input type="hidden" name="city" value="<%= event.city %>" hidden>
                                            <input type="hidden" name="region" value="<%= event.region %>" hidden>
                                            <input type="hidden" name="namePlace" value="<%= event.namePlace %>" hidden>
                                            <input type="hidden" name="datetime" value="<%= event.datetime %>" hidden>
                                            <input type="hidden" name="on_sale_datetime"
                                                value="<%= event.on_sale_datetime %>" hidden>
                                            <input type="hidden" name=" description" value="<%= event.description %>"
                                                hidden>
                                            <input type="hidden" name="image_url" value="<%= event.thumb_url %>" hidden>

                                            <input type="hidden" name="artistName" value="<%= event.artistName %>"
                                                hidden>

                                            <input type="hidden" name="facebook_page_url"
                                                value="<%= event.facebook_page_url %>" hidden>

                                        </form>
                                    </div>
                                </figcaption>

                    </div>
                    <diV>
                        <form action="/saveEvent" method="POST" style='display: none;'>
                            <label for=""></label>


                            <input type="hidden" name="offers" value="<%= event.offers %>"> <br>
                            <input type="hidden" name="status" value="<%= event.status %>"><br>
                            <input type="hidden" name="country" value="<%= event.country %>"><br>
                            <input type="hidden" name="city" value="<%= event.city %>"><br>
                            <input type="hidden" name="region" value="<%= event.region %>"><br>
                            <input type="hidden" name="namePlace" value="<%= event.namePlace %>"><br>
                            <input type="hidden" name="datetime" value="<%= event.datetime %>"><br>
                            <input type="hidden" name="on_sale_datetime" value="<%= event.on_sale_datetime %>"><br>
                            <input type="hidden" name=" description" value="<%= event.description %>"><br>
                            <input type="hidden" name="image_url" value="<%= event.thumb_url %>">
                            <br>
                            <input type="hidden" name="artistName" value="<%= event.artistName %>"><br>
                            <input type="hidden" name="facebook_page_url" value="<%= event.facebook_page_url %>"><br>

                            <!-- <button id="saveforLater" type="submit">Save for later</button> <br> -->
                        </form>

                        </article>
                        <%})%>
                    </div>
            </section>
            <%- include('./layout/footer')%>
        </body>

        </html>