<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSICALLY</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href='style/base.css'>
    <link rel="icon" href="images/logo.png" type="image/gif" sizes="16x16">

    <style>
        .home-event-button1 {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
            height: 45px;
            font-family: 'Roboto', sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 700;
            color: #000;
            background-color: #fff;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
        }


        .home-event-button1:hover {
            background-color: #3c2b79;
            box-shadow: 0px 15px 20px rgba(50, 41, 126, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }
    </style>
</head>

<body>
    <%- include('./layout/navbar')%>
        <header class="header">
            <div class="layout-container">
                <h1>Saved Events </h1>

            </div>
        </header>
        <section id='home-events'>
            <div class="layout-container">
                <div class="w3-content w3-section">
                    <% eventResults.forEach(event=> { %>
                        <article>
                            <img src="<%= event.image_url %>" alt="">
                            <figcaption>
                                <h3> <span>Artist: </span>
                                    <%= event.artistname %>
                                </h3>
                                <h5><span>status:</span>
                                    <%= event.status %>
                                </h5>
                                <h5><span>Place:</span>
                                    <%= event.name %>
                                </h5>
                                <h5><span>location:</span>
                                    <%= event.country +`, ` + event.city +`, `+ event.region %>
                                </h5>
                                <h5><span>datetime:</span>
                                    <%= event.date %>
                                </h5>
                                <h5> <span>On sale datetime:</span>
                                    <%= event.saledate %>
                                </h5>
                                <h5> <span>Description:</span>
                                    <%= event.description %>
                                </h5>
                                <h5> <span>Facebook Profile:</span>: <a href="<%= event.facebook_page_url %>">Visit
                                        Facebook</a>
                                </h5>

                                <div class="events-flex">
                                    <form action="<%= event.event_url %>">
                                        <input class="home-event-button1" type="submit" value="Book Your Ticket " />
                                    </form>

                                    <form action="/deleteDataEvent/<%= event.id %>?_method=Delete" method="post"
                                        id="myForm">
                                        <input class="home-event-button1" id="saveforLater" value="Delete Event"
                                            type="submit" />

                                        <input type="hidden" name="offers" value="<%= event.offers %>" hidden>
                                        <input type="hidden" name="status" value="<%= event.status %>" hidden>
                                        <input type="hidden" name="country" value="<%= event.country %>" hidden>
                                        <input type="hidden" name="city" value="<%= event.city %>" hidden>
                                        <input type="hidden" name="region" value="<%= event.region %>" hidden>
                                        <input type="hidden" name="namePlace" value="<%= event.namePlace %>" hidden>
                                        <input type="hidden" name="datetime" value="<%= event.datetime %>" hidden>
                                        <input type="hidden" name="on_sale_datetime"
                                            value="<%= event.on_sale_datetime %>" hidden>
                                        <input type="hidden" name=" description" value="<%= event.description %>"
                                            hidden>
                                        <input type="hidden" name="image_url" value="<%= event.thumb_url %>" hidden>

                                        <input type="hidden" name="artistName" value="<%= event.artistName %>" hidden>

                                        <input type="hidden" name="facebook_page_url"
                                            value="<%= event.facebook_page_url %>" hidden>
                                    </form>
                                </div>
                            </figcaption>
                </div>
                <diV>
                    <form action="/saveEvent" method="POST" style='display: none;'>
                        <label for=""></label>

                        <input type="hidden" name="offers" value="<%= event.offers %>"> <br>
                        <input type="hidden" name="status" value="<%= event.status %>"><br>
                        <input type="hidden" name="country" value="<%= event.country %>"><br>
                        <input type="hidden" name="city" value="<%= event.city %>"><br>
                        <input type="hidden" name="region" value="<%= event.region %>"><br>
                        <input type="hidden" name="namePlace" value="<%= event.namePlace %>"><br>
                        <input type="hidden" name="datetime" value="<%= event.datetime %>"><br>
                        <input type="hidden" name="on_sale_datetime" value="<%= event.on_sale_datetime %>"><br>
                        <input type="hidden" name=" description" value="<%= event.description %>"><br>
                        <input type="hidden" name="image_url" value="<%= event.thumb_url %>">
                        <br>
                        <input type="hidden" name="artistName" value="<%= event.artistName %>"><br>
                        <input type="hidden" name="facebook_page_url" value="<%= event.facebook_page_url %>"><br>

                        <!-- <button id="saveforLater" type="submit">Save for later</button> <br> -->
                    </form>

                    </article>
                    <%})%>
                </div>
        </section>
        <%- include('./layout/footer')%>
</body>

</html>