<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href='style/base.css'>
    <title>Document</title>
</head>
<body>
    

    <% data.forEach(song => { %>
        <section class = "displaySongs">
            
            <h3><%= song.title %> </h3>
            <h4><%= song.artist %> </h4>
            <h3><%= song.album  %> </h3>
            <h4><%= song.rating %> </h4>
            <h3><%= song.genre %> </h3>
            <p><%= song.lyrics %> </p>

            <a class = "style-button" id = "showBook" href="/songs/<%= song.id %>">Details</a>

           
            </section>
    <% }) %>
</body>
</html>