<%- include('./layout/head')%>
    <%- include('./layout/navbar')%>

        <body>
            <div class="searchEventsBox">
                <h1>Search for events</h1>
                <form action="/events" method="GET">
                    <input type="text" name="artist" id="artist">
                    <input type="submit" value="Search">
                    <!-- <button value= "submitEvent">Submit</button> -->
                </form>
            </div>

            <div>
                <% searchResults.forEach(event=> { %>
                    <img src="<%= event.thumb_url %>" alt="">
                    <h1> Artist: "<%= event.artistName %>"</h1>
                    <h3>status: "<%= event.status %>" </h3>
                    <h3>Place: "<%= event.namePlace %>" </h3>
                    <h3>Location:"<%= event.country +`, ` + event.city +`, `+ event.region %>" </h3>
                    <h3>Date of event: "<%= event.datetime %>" </h3>
                    <h3>on_sale_datetime: "<%= event.on_sale_datetime %>" </h3>
                    <h3>Description of event: "<%= event.description %>" </h3>
                    <h3>Facebook Page: <a href="<%= event.facebook_page_url %>">facebook_page_url:</a> </h3>
                    <form action="<%= event.offers %>">
                        <input type="submit" value="Book Your Ticket " />
                    </form>
            </diV>
            <div>
                <form action="/saveEvent" method="POST">
                    <button id="saveforLater" type="submit">Save for later</button> <br>
                    <label for=""></label>
                    <input type="hidden" name="offers" value="<%= event.offers %>"> <br>
                    <input type="hidden" name="status" value="<%= event.status %>"><br>
                    <input type="hidden" name="country" value="<%= event.country %>"><br>
                    <input type="hidden" name="city" value="<%= event.city %>"><br>
                    <input type="hidden" name="region" value="<%= event.region %>"><br>
                    <input type="hidden" name="namePlace" value="<%= event.namePlace %>"><br>
                    <input type="hidden" name="datetime" value="<%= event.datetime %>"><br>
                    <input type="hidden" name="on_sale_datetime" value="<%= event.on_sale_datetime %>"><br>
                    <input type="hidden" name="description" value="<%= event.description %>"><br>
                    <input type="hidden" name="image_url" value="<%= event.thumb_url %>"">
            <br>
            <input type=" hidden" name="artistName" value="<%= event.artistName %>"><br>
                    <input type="hidden" name="facebook_page_url" value="<%= event.facebook_page_url %>"><br>
                </form>
                <%});%>
            </div>
        </body>

        </html>