<%- include('../layout/head')%>

    <body>

        <% data.forEach(song=> { %>
            <section class="displaySongs">
                <img src='<%= song.image_url%>' alt="">
                <h3>
                    <%= song.title %>
                </h3>
                <h4>
                    <%= song.artist %>
                </h4>
                <h3>
                    <%= song.album %>
                </h3>
              
                <a class="style-button" id="showBook" href="/songs/<%= song.id %>">Details</a>

            </section>
            <% }) %>
    </body>

    </html>