<%- include('../layout/head')%>
    <%- include('../layout/navbar')%>

        <body>
            <header class="header">
                <div class="layout-container">
                    <h1 id="detailHeader">
                        <%= data.title%>
                    </h1>
                </div>
            </header>

            <div class="layout-container">
                <section>
                    <h4>
                        <%= data.title %>
                    </h4>
                    <h4>
                        <%= data.artist %>
                    </h4>
                    <h5>
                        <%= data.album %>
                    </h5>
                    <h5>
                        <%= data.rating %>
                    </h5>
                    <h5>
                        <%= data.genre %>
                    </h5>
                    <p>
                        <%= data.lyrics %>
                    </p>
                    <form action="/deleteData/<%= data.id %>?_method=Delete" method="post" id="myForm">
                        <button id="delete"> Delete song</button>
                    </form>
                    <section id="disypl">
                        <form action="/updateData/<%= data.id %>?_method=PUT" method="post" id=>
                            <input type="text" name="title" value="<%= data.title %>"><br>
                            <input type="text" name="artist" value="<%= data.artist  %>"><br>
                            <input type="text" name="album" value="<%= data.album %>"><br>
                            <input type="text" name="rating" value="<%=  data.rating %>"><br>
                            <input type="text" name="genre" value="<%=  data.genre %>"><br>
                            <textarea name="lyrics" cols="52" rows="20"><%= data.lyrics %></textarea><br>

                            <button type="submit" id="myupdateBu">update data</button>

                        </form>
                    </section>
            </div>
            <%- include('../layout/footer') %>
        </body>

        </html>