<%- include('../layout/head')%>
    <%- include('../layout/navbar')%>

        <body>
            <header class="header">
                <div class="layout-container">
                    <h3 id="detailHeader">Events</h3>
                </div>
            </header>
            <section>
                <div class="layout-container">
                    <section>
                        <h3>
                            <%= data.event_url %>
                        </h3>
                        <h4>
                            <%= data.venue %>
                        </h4>
                        <h3>
                            <%= data.title %>
                        </h3>
                        <h4>
                            <%= data.date %>
                        </h4>
                        <h3>
                            <%= data.image_url %>
                        </h3>
                        <p>
                            <%= data.description %>
                        </p>
                        <form action="/deleteDataEvent/<%= data.id %>?_method=Delete" method="post" id="myForm">
                            <button id="delete"> Delete event</button>
                        </form>
                    </section>
                </div>
            </section>
            <%- include('../layout/footer') %>
        </body>

        </html>