<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSICALLY</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href='style/base.css'>
    <link rel="icon" href="images/logo.png" type="image/gif" sizes="16x16">

    <style>
        /* search-results css  */

        @charset "UTF-8";
        @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
        @import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
        @import url("https://fonts.googleapis.com/css?family=Hind&display=swap");


        .button {
            margin-top: 20px;
    width: 100%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
           
        }

        .login-box form a input {
    /* background-color: inherit; */
    color: #fff;
    border: none;
    font-size: 20px;
    text-align: right;
}

.button1:hover {

    color: #fff;
    transform: translateY(-7px);

        }

        .button:hover {
            /* box-shadow: 5px 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            background-color: #26001bb9; */
     
            
    background-color: #3c2b79;
    box-shadow: 0px 15px 20px rgba(50, 41, 126, 0.4);
    color: #fff;
    transform: translateY(-7px);

        }


        #home-events article figcaption {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background-color: #74216f;
    padding: 5% 2%;
}  
    </style>
</head>

<body>
        <%- include('../layout/navbar')%>
        <header class="header">
            <div class="layout-container">
                <h1>Upcoming Events</h1>
            </div>
        </header>
        <div class=" searchEventsBox layout-container">
            <div class="login-box layout-container">

                <form action="/events" method="GET">
                    <div class="user-box">
                        <input type="text" name="artist" id="artist" placeholder="Search for Event">
                    </div>
                    <a href="">
                        <input class="button1" type="submit" value="Search">
                    </a>
                </form>
            </div>
        </div>
        <section id='home-events'>
            <div class="layout-container">
                <div class="w3-content w3-section">
                    <% if(searchResults.length> 1){ %>
                        <% searchResults.forEach((event, index)=> { %>
                            <article>
                                <img src="<%= event.thumb_url %>" alt="">
                                <figcaption>
                                    <h3> <span>Artist:</span>
                                        <%= event.artistName %>
                                    </h3>
                                    <h5><span>Status:</span>
                                        <%= event.status %>
                                    </h5>
                                    <h5><span>Place:</span>
                                        <%= event.namePlace%>
                                    </h5>
                                    <h5><span>Location:</span>
                                        <%= event.country +`, ` + event.city +`, `+ event.region %>
                                    </h5>
                                    <h5><span>Datetime:</span>
                                        <%= event.datetime %>
                                    </h5>
                                    <h5> <span>Sale Date:</span>
                                        <%= event.on_sale_datetime %>
                                    </h5>
                                    <h5> <span>Description:</span>
                                        <%= event.description %>
                                    </h5>
                                    <h5> <span>Facebook Page:</span><a href="<%= event.facebook_page_url %>">
                                            Facebook</a>
                                    </h5>

                                    <div class="events-flex">
                                        <form action="<%= event.offers %>">
                                            <input class="button" type="submit" value="Book Ticket " />
                                        </form>
                                        <form action="/saveEvent" method="POST" id="myForm">
                                            <button class="button" id="saveforLater" type="submit">Save for
                                                later</button>
                                            <input type="hidden" name="offers" value="<%= event.offers %>"> 
                                            <input type="hidden" name="status" value="<%= event.status %>">
                                            <input type="hidden" name="country" value="<%= event.country %>">
                                            <input type="hidden" name="city" value="<%= event.city %>">
                                            <input type="hidden" name="region" value="<%= event.region %>">
                                            <input type="hidden" name="namePlace" value="<%= event.namePlace %>">
                                            <input type="hidden" name="datetime" value="<%= event.datetime %>">
                                            <input type="hidden" name="on_sale_datetime" value="<%= event.on_sale_datetime %>">
                                            <input type="hidden" name=" description" value="<%= event.description %>">
                                            <input type="hidden" name="image_url" value="<%= event.thumb_url %>">
                                            <input type="hidden" name="artistName" value="<%= event.artistName %>">
                                            <input type="hidden" name="facebook_page_url"
                                                value="<%= event.facebook_page_url %>">
                                        </form>
                                    </div>
                                </figcaption>

                </div>


                </article>



                <%});%>
                    <% } else{ %>
                        <img class="no-event" src="images/eventsFinal.png">

                        <% } %>

            </div>




        </section>









































        <!-- 
........................................................... -->




        <%- include('../layout/footer') %>

    </body>

</html>