<%- include('../layout/head')%>
  <%- include('../layout/navbar')%>

    <body>
      <form action="/songs" method="GET">
        <input type="text" name="formatInput" id="song" placeholder="songs">
        <input type="submit" value="Search">

        <label for="singer">Artist</label>
        <input type="radio" name="searchBy" value="q_artist" id="singer">

        <label for="track">Song</label>
        <input type="radio" name="searchBy" value="q_track" id="track">

        <label for="lyrics">Lyrics</label>
        <input type="radio" name="searchBy" value="q_lyrics" id="lyrics">
      </form>

      <% songSearches.forEach(song=> { %>
        <br>
        <br>
        <br>
        <ul>
          <li>
            <div>
              <img src="images/default song.jpg" alt="">
            </div>
            <div>
              title: <%=song.title%>
            </div>
            <div>
              Artist: <%=song.artist%>
            </div>
            <div>
              Album name: <%=song.album%>
            </div>
            <div>
              Rating: <%=song.rating%>
            </div>
            <div>
              <form action="/songs/add" method="post">
                <input type="text" name="title" value="<%=song.title%>" hidden>
                <input type="text" name="artist" value="<%=song.artist%>" hidden>
                <input type="text" name="album" value="<%=song.album%>" hidden>
                <input type="text" name="rating" value="<%=song.rating%>" hidden>
                <input type="text" name="genre" value="<%=song.genre%>" hidden>
                <input type="text" name="image_url" value="<%=song.image_url%>" hidden>
                <button type="submit">Add to library</button>
              </form>
            </div>
          </li>
        </ul>
        <% })%>



    </body>

    </html>